package di

// func NewAppContainer() (*AppContainer, error) {
// 	wire.Build(
// 		middleware.ProviderSet,
// 		wire.Struct(new(AppContainer), "*"),
// 	)
// 	return &AppContainer{}, nil
// }

// type AppContainer struct {
// 	AuthMiddleware *middleware.Middleware
// }
