package types

type ServiceError struct {
	Error     interface{}
	ErrorCode string
	Code      int
	Rollback  bool
}

type Response struct {
	Ok      int         `json:"ok"`
	Message string      `json:"msg"`
	Data    interface{} `json:"data"`
}

type BuildErrorResponse struct {
	Ok  int         `json:"ok"`
	Msg string      `json:"msg"`
	Det interface{} `json:"detail"`
}
