{
    "SUCCESS": "success",
    "ERR_INTERNAL": "internal server error",
    "ERR_NOT_FOUND": "resource not found",
    "ERR_BAD_REQUEST": "bad request",
    "ERR_ENDPOINT_NOT_FOUND": "sorry, endpoint is not found",
    "ERR_REGISTER_DUPLICATE_EMAIL": "the email address is already in use.",
    "ERR_UNAUTHORIZED": "unauthorized access. please log in.",
    "ERR_FORBIDDEN": "forbidden",
    "ERR_UNPROCESSABLE_ENTITY": "unprocessable entity",
    "ERR_VALIDATION": "validation error",
    "ERR_CONFLICT": "conflict",
    "ERR_TOO_MANY_REQUESTS": "too many requests. please try again later."
}