{
    "SUCCESS": "สําเร็จ",
    "ERR_INTERNAL": "เกิดข้อผิดพลาดภายในระบบ",
    "ERR_NOT_FOUND": "ไม่พบทรัพยากร",
    "ERR_BAD_REQUEST": "ข้อมูลไม่ถูกต้อง",
    "ERR_ENDPOINT_NOT_FOUND": "ขออภัย ไม่พบ endpoint",
    "ERR_REGISTER_DUPLICATE_EMAIL": "อีเมลนี้ถูกใช้งานแล้ว",
    "ERR_UNAUTHORIZED": "การเข้าถึงไม่ได้รับอนุญาต กรุณาเข้าสู่ระบบ",
    "ERR_FORBIDDEN": "ไม่ได้รับอนุญาต",
    "ERR_UNPROCESSABLE_ENTITY": "ข้อมูลไม่ถูกต้อง",
    "ERR_VALIDATION": "ข้อมูลไม่ถูกต้อง",
    "ERR_CONFLICT": "ข้อมูลซ้ำ!",
    "ERR_TOO_MANY_REQUESTS": "คำขอมากเกินไป กรุณาลองใหม่อีกครั้งในภายหลัง!"
}